<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumno</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="alumnoInfo">
    <h2>Bienvenido {{ alumnoInfo.nombre }}</h2>
  </div>
  <div class="button-wrapper">
    <ion-button (click)="marcarAsistencia()"  expand="block">Marcar Asistencia</ion-button>
  </div>
  <div>
    <input type="text" [(ngModel)]="codigoAsignatura" placeholder="Código de asignatura">
  </div>
  <div class="button-wrapper">
    <ion-button (click)="mostrarInfo()"  expand="block">Mostrar INFO</ion-button>
  </div>

  <div class="logout-button-wrapper ">
    <ion-button class="ion-text-wrap" style="min-width: 200px" color="danger" (click)="logout()" expand="block">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
  <h1>Asignaturas inscritas</h1>
  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturasInscritas">
      <ion-label>{{ asignatura.nombre }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>