<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" [style.visibility]="content_visibility">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumno</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="alumnoInfo" class="ion-padding">
    <h2>Bienvenido {{ alumnoInfo.nombre }}</h2>
  </div>
  <ion-grid>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-item class="input">

          <ion-input id="inputAsignatura" type="text" [(ngModel)]="idClase" color="medium"
            placeholder="Código de asignatura" input-mode="text"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="input">
          <ion-input id="inputSeguridad" type="number" [(ngModel)]="codigoSeguridad" color="medium"
            placeholder="Código de seguridad" input-mode="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-button expand="block" (click)="scan()" [disabled]="!isSupported">Escanear código QR</ion-button>
  <ion-button expand="full" (click)="marcarAsistencia(QR.id_clase, QR.codigo_seguridad)" class="ion-margin-top">Marcar Asistencia</ion-button>

  <ion-button expand="full" (click)="logout()" color="danger" class="ion-margin-top">Cerrar Sesión</ion-button>

<!--   CONSOLA PARA MOSTRAR ERRORES 
  <ion-row>
    <ion-col size="12">
      <ion-textarea [(ngModel)]="consoleLogs" rows="10" readonly="true"></ion-textarea>
    </ion-col>
  </ion-row> -->

  <h1 class="ion-padding-top ion-padding-start">Asignaturas inscritas</h1>
  <ion-list>
    <ion-item *ngFor="let seccion of seccionesInscritas">
      <ion-label>{{ seccion.seccion.asignatura.nombre }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>