#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.error {
  background-color: rgba($color: #F00, $alpha: .3);
  color: black;
  border: 1px solid red;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.exito {
  background-color: rgba($color: #0f0, $alpha: .3);
  color: black;
  border: 1px solid #0f0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
}