.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;

}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
}



.alumnoPresente{
  color: green
}
.alumnoAusente{
  color: red
}

.alumnos-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  font-weight: 700;
}


.alumnos-list > div {
  margin: 10px;
}