<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profesor</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Bienvenido, <span *ngIf="profesorInfo">{{ profesorInfo.nombre }} {{ profesorInfo.apellido }}</span></h2>
   <!-- 
  <div class="logout-button-wrapper">
    <ion-button class="ion-text-wrap" style="min-width: 200px" (click)="generateQRCode()" expand="block">Mostrar código
      QR</ion-button>
  </div> -->
  <div class="qr-container">
    <canvas id="qrcodeCanvas"></canvas>
  </div>

  <div class="logout-button-wrapper">
    <ion-button class="ion-text-wrap" style="min-width: 200px" color="secondary" (click)="mostrarTablaAsistencia()"
      expand="block">
      Registar asistencia
    </ion-button>
  </div>

  <div *ngIf="mostrarTabla">
    <!-- Tabla para mostrar las secciones -->
    <ng-container *ngIf="seccionesYAsignaturas">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Sección</th>
            <th>Asignatura</th>
            <th>Registrar Asistencia</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí puedes usar *ngFor para iterar sobre las secciones y mostrarlas en filas -->
          <tr *ngFor="let seccion of seccionesYAsignaturas.secciones">
            <td>{{ seccion.id }}</td>
            <td>{{ seccion.nombre }}</td>
            <td>{{ buscarAsignatura(seccion.id_asignatura) }}</td>
            <td>
              <!-- Botón para registrar la asistencia de esta sección -->
              <ion-button (click)="registrarAsistencia(seccion)">Registrar</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>


    <!-- Botón para ocultar la tabla -->
    <ion-button class="ion-text-wrap" style="min-width: 200px" color="secondary" (click)="mostrarTabla = false"
      expand="block">
      Ocultar Tabla
    </ion-button>
  </div>

  <div class="logout-button-wrapper">
    <ion-button class="ion-text-wrap" style="min-width: 200px" color="danger" (click)="logout()" expand="block">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>